/* Основной стиль для страницы */
html, body {
    margin: 0;
    height: 100%;
}

.background {
    position: fixed; /* Занимает всю доступную площадь */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Устанавливаем высоту в 100% */
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; /* Чтобы фон не повторялся */
    background-attachment: fixed;
    z-index: -1; /* Чтобы фоновое изображение было за всеми другими элементами */
}

/* Стили для заголовка */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2d2d2d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.left-buttons, .right-buttons {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e0e0e0;
}

/* Выпадающее меню */
.dropdown-login {
    position: relative;
    margin-top: -40px;
}

.dropdown-login-content {
    position: absolute;
    right: 0;
    top: 20px;
    min-width: 230px;
    padding: 10px;
}

.dropdown-profile {
    position: relative;
    display: inline-block;
}

.dropdown-profile-content {
    display: none;
    position: absolute;
    right: 0;
    top: 20px;
    min-width: 200px;
}

/* Стили для контейнера с чекбоксом и лейблом */
.checkbox-container {
    padding: 5px 5px;
    font-weight: normal;
    display: flex;
    left: 0;
    margin-left: -125px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 0;
}

/* Стилизация формы */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    box-sizing: border-box;
}

form input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

/* Сообщение об ошибке */
.msg {
    max-width: 400px;
    margin: 0 auto 20px auto;
    padding: 10px;
    border: 2px solid #ff0000;
    border-radius: 4px;
    background-color: #ffe6e6;
    text-align: center;
    font-weight: bold;
    transition: opacity 3s ease-out;
    opacity: 1;

    position: fixed; /* Фиксированное позиционирование */
    top: 65px; /* Расположение сверху */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Корректировка для полного центрирования */
    z-index: 9999;
}

.registeredMessage {
    max-width: 400px;
    margin: 0 auto 20px auto;
    padding: 10px;
    border: 2px solid #00ff00;
    border-radius: 4px;
    background-color: #e6ffe6;
    text-align: center;
    font-weight: bold;
    transition: opacity 3s ease-out;
    opacity: 1;

    position: fixed; /* Фиксированное позиционирование */
    top: 65px; /* Расположение сверху */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Корректировка для полного центрирования */
    z-index: 9999;
}

.fadeOut {
    opacity: 0;
}

/* Дополнительные стили для полей с валидацией */
.input-wrapper {
    position: relative;
}

.input-wrapper .exclamation {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    font-weight: bold;
    display: none;
    cursor: pointer;
}

input.error {
    border-color: red;
}

input.error:focus {
    border-color: darkred;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.error-message {
    color: red;
    display: none;
    font-size: 12px;
    font-weight: bold;
    margin-top: -15px;
}

.input-wrapper .exclamation:hover + .error-message {
    display: block;
}

.profileBtn {
    background: url("../img/userIcon.png");
    background-size: 40px 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
}

.main-container {
    margin: auto;
    margin-top: 10px;
    width: 55%; /* Ширина контейнера */
    min-height: 85%; /* Минимальная высота */
    background: rgba(128, 128, 128, 0.5); /* Серо-прозрачный цвет */
    border-radius: 10px; /* Скругленные углы */
    padding: 20px; /* Отступы внутри контейнера */
    box-sizing: border-box; /* Учитывает padding при расчете ширины и высоты */
    overflow: auto; /* Добавляет прокрутку, если контента слишком много */
}

.main-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.edit-role-table {
    width: 100%; /* Таблица будет на 40 пикселей меньше ширины контейнера */
    margin: 0 -10px; /* Отступы слева и справа по 20 пикселей */
    border-collapse: collapse;
    background-color: transparent;
}

.edit-role-table th, .edit-role-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.edit-role-table th {
    background-color: rgba(255, 255, 255, 0.5);
    color: #343a40;
}

.edit-role-table tr:nth-child(even) {
    background-color: rgba(242, 242, 242, 0.5);
}

.edit-role-table tr:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

.role-form {
    background: transparent;
    margin: 0;
    width: 100%;
    border: none;
    box-shadow: none;
}


.btn {
    margin: 10px 5px; /* Отступы между кнопками */
    padding: 10px 15px; /* Внутренние отступы для кнопок */
    font-size: 16px; /* Размер шрифта кнопок */
}

.btn-primary {
    background-color: #007bff; /* Цвет кнопки "Сохранить изменения" */
    color: white; /* Цвет текста кнопки */
}

.btn-danger {
    background-color: #dc3545; /* Цвет кнопки "Удалить" */
    color: white; /* Цвет текста кнопки */
}

.btn-success {
    background-color: #28a745; /* Цвет кнопки "Создать" */
    color: white; /* Цвет текста кнопки */
}

.btn:hover {
    opacity: 0.9; /* Прозрачность кнопок при наведении */
}

.profilePic {
    background: url("../img/userIcon.png") no-repeat center center;
    background-size: 100% 100%;
    border-radius: 50%; /* Создаёт круг */
    width: 80px; /* Устанавливаем ширину в vw (viewport width), чтобы сохранить пропорции */
    height: 80px; /* Устанавливаем высоту такой же, как ширину */
    border: none;
}

.center-label {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    display: block;
    text-shadow:
        2px 2px 0 #000,
       -2px -2px 0 #000,
        2px -2px 0 #000,
       -2px  2px 0 #000,
        1px 1px 0 #000,
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000;
    color: white;
}

.main-label {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
    text-shadow:
        2px 2px 0 #000,
       -2px -2px 0 #000,
        2px -2px 0 #000,
       -2px  2px 0 #000,
        1px 1px 0 #000,
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px  1px 0 #000;
    color: white;

    position: absolute; /* Фиксированное позиционирование */
    top: 10px; /* Расположение сверху */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Корректировка для полного центрирования */
    z-index: 9999;
}

.article-item {
    font-size: 30px;
    padding: 10px;
    border: 2px solid #000; /* Чёрная рамка толщиной 2px */
    margin-top: 15px;
    margin-bottom: 15px; /* Добавляет отступ снизу между элементами */
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px; /* Закругляет углы рамки */
    background-color: rgba(128, 128, 128, 0.73); /* Фоновый цвет для лучшей видимости */

}

.article-item a {
    color: #ffffff; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

.article-item a:hover {
    color: #ff0000; /* Цвет текста ссылок при наведении курсора */
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 400px; /* Измените по необходимости */
    margin: 0 auto; /* Центрирование карусели на странице */
}

.carousel-item {
    position: absolute; /* Позволяет позиционировать изображения друг над другом */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Сдвиг изображения на 50% его ширины и высоты */
    width: 100%; /* Установите ширину изображения, если нужно */
    height: auto; /* Поддержка соотношения сторон изображения */
    transition: opacity 0.3s ease; /* Плавный переход */
    opacity: 0; /* Начальное состояние невидимо */
    display: none; /* Изначально скрыты */
}

.fade-in {
    opacity: 1; /* Показать изображение */
    /*display: block; !* Убедитесь, что элемент отображается *!*/
}

.fade-out {
    opacity: 0; /* Скрыть изображение */
}

.carousel-images {
    margin-top: 200px;
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img {
    width: 100%; /* Ширина изображения - 100% от контейнера */
    height: 100%; /* Высота изображения - 100% от контейнера */
    object-fit: contain; /* Масштабировать изображение так, чтобы оно вписывалось в контейнер */
}

.thumbnails-wrapper {
    display: flex;
    justify-content: flex-start; /* Миниатюры остаются по левому краю */
    overflow-x: auto; /* Горизонтальный скролл */
    max-width: 575px; /* Ограничение по ширине контейнера */
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
}

.thumbnails {
    display: flex;
    justify-content: center; /* Центрируем миниатюры */
    margin-top: 10px; /* Расстояние между каруселью и миниатюрами */
    padding-bottom: 10px; /* Отступ снизу для прокрутки */
}

.thumbnail.active {
    height: 75px;
    border: 2px solid #007BFF; /* Цвет обводки для активной миниатюры */
}

.thumbnail {
    flex: 0 0 auto; /* Отключаем автоматическое изменение размера миниатюр */
    margin: 0 5px; /* Отступы между миниатюрами */
    cursor: pointer; /* Указатель при наведении */
    height: 75px;
    border: 2px solid transparent; /* Обводка для неактивного состояния */
    border-radius: 4px; /* Закругленные углы */
    transition: border 0.3s ease; /* Плавный переход для обводки */
}

.thumbnail img {
    width: 100px; /* Ширина миниатюры */
    height: 70px; /* Высота миниатюры */
    object-fit: cover; /* Изображение подгоняется под размер миниатюры */
    transition: border 0.3s ease; /* Плавная смена цвета обводки */
}

.navbar {
    height: 60px; /* Фиксированная высота навбара */
}

.navbar .navbar-nav {
    align-items: center; /* Центрируем элементы вертикально */
}

.navbar .navbar-nav.mx-auto {
    flex: 1; /* Позволяем центровым элементам занимать доступное пространство */
    justify-content: center; /* Центруем элементы по горизонтали */
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95); /* Semi-transparent background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Ensure it's on top of everything */
    transition: all 0.3s ease;
}

.overlay-content {
    text-align: center;
}

.overlay-item {
    margin: 20px 0;
    font-size: 24px; /* Adjust size */
    color: #000; /* Change to desired color */
    text-decoration: none;
}

.overlay-item:hover {
    color: #007bff; /* Change color on hover */
}

/* To hide the navbar when the overlay is active */
.navbar {
    display: none; /* Hides the original navbar */
}


.user-avatar {
    width: 40px; /* Установите желаемый размер аватара */
    height: 40px;
    border-radius: 50%; /* Сделает аватар круглым */
    object-fit: cover; /* Обеспечивает правильное соотношение сторон */
    margin-left: 10px; /* Добавляет отступ слева, если необходимо */
}

@media only screen and (max-width: 992px) {
    .main-container {
        width: 100%;
        background: transparent;
    }

    .background {
        background: none;
        background-color: black;
    }
}

.comments-list {
    max-width: 100%; /* Максимальная ширина блока комментариев */
    overflow-wrap: break-word; /* Перенос длинных слов */
}

.comment {
    margin-bottom: 10px; /* Отступ между комментариями */
    border: 1px solid #ccc; /* Рамка вокруг комментария */
    padding: 10px; /* Отступ внутри комментария */
    border-radius: 5px; /* Скругленные углы */
    word-wrap: break-word; /* Перенос длинных слов */
}


.comments-list p {
    color: white; /* Цвет текста комментариев */
    margin: 5px 0; /* Отступы для параграфов */
}

.reply-button {
    color: #007bff; /* Цвет кнопки ответа */
    cursor: pointer; /* Указатель для курсора */
}

.reply-textarea {
    margin-top: 5px; /* Отступ сверху для текстового поля */
    color: black; /* Цвет текста в текстовом поле */
    border: 1px solid #ccc; /* Рамка для текстового поля */
    border-radius: 5px; /* Скругление углов у текстового поля */
    width: 100%; /* Ширина текстового поля */
    height: 40px; /* Высота текстового поля */
    display: none; /* Изначально скрыто */
}

.submit-reply {
    color: #007bff; /* Цвет кнопки отправки ответа */
    margin-top: 5px; /* Отступ сверху для кнопки отправки */
    cursor: pointer; /* Указатель для курсора */
}

.reply-container {
    display: flex; /* Используем flexbox для выравнивания */
    align-items: center; /* Центрируем по вертикали */
    margin-top: 5px; /* Отступ сверху */
}

.reply-arrow {
    margin-right: 5px; /* Отступ справа от стрелочки */
    color: red; /* Цвет стрелочки */
}

.article-content {
    color: white; /* Устанавливаем цвет текста белым */
}

.main-container p {
    color: white; /* Устанавливаем цвет текста белым */
    margin-bottom: 10px; /* Добавляем отступ между параграфами */
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}
.gallery-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}
.gallery-grid img:hover {
    transform: scale(1.05);
}
/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation: zoom 0.6s;
}
@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    transition: 0.3s;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 10px;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    color: #bbb;
}